@media (min-width: 1200px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Upright', serif !important; 
  }
  
  ul {
    list-style: none;
  }
  
  
  a {
    text-decoration: none;
    color: white;
  }

  p {
    font-size: 1.25rem;
     font-weight: bold;
  }
  

  #mainlogo {
    margin-right: 2rem;
    width: 8rem;
    height: 8rem;
  }
  
  #dowload {
    color: white;
    transition: all 0.4s;
  }
  
  #dowload:hover {
    box-shadow: rgba(226, 132, 44, 0.2) 0px 2px 8px 0px;
  }
  
  
  .subNavs {
    display: flex;
    gap: 1rem;

  }
  
  #imgSubmenu {
  color: wheat;
  }

  .subNavs a {
    color: white;
  }


  .subMenus {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .subMenus img {
    width: 22px;
    height: 22px;
  }
  /*====  VARIABLES ============================ */
  :root {
    --header-height: 4.5rem;
  
    /* colors */
    --hue: 15;
    /* HSL color mode */
    --base-color:  #936e4b;
    --base-color-second: hsl(38, 72%, 34%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: white;
    --text-color: white;
    --text-color-light: white;
    --body-color: hsl(38, 72%, 34%);
    /* fonts */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1.55rem;
  
    --title-font: 'Cormorant Upright', sans-serif;
    --body-font: 'Cormorant Upright', sans-serif;
  }
  
  /*===  BASE ============================ */
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font: 400 1.25rem var(--body-font);
    font-weight: 500;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
  }
  
  .title {
    font: 700 var(--title-font-size) var(--title-font);
    color: white;
    -webkit-font-smoothing: auto;
  }
  .title-main {
    font-weight: 700;
    font-size: 2.5rem;
    font-weight: bold;
    -webkit-font-smoothing: auto;
    font-style: italic;
    color: whitesmoke;
    border-radius: 12px;
  }

  .sub-main {
    font-weight: 500;
    font-size: 1.85rem;
    -webkit-font-smoothing: auto;
    font-style: italic;
    color: white;
    border-radius: 12px;
  }

  .locale {
    font-weight: 400;
    margin-top: 1rem;
    font-size: 1.55rem;
    -webkit-font-smoothing: auto;
    font-style: italic;
    color: whitesmoke;
    border-radius: 12px;
  }
  
  /* reusable classes */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    background-color: #cc8400;
    color: white;
    font-weight: medium;
    font-size: 1.25rem;
    height: 3.125rem;
    transition: all 0.3s;
  }
  .button:hover {
    filter: brightness(1.1);
  }

  /* navigation */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1.25rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: medium;

    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  /* layout */
  main {
    margin-top: var(--header-height);
  }
  

  #home {
    overflow: hidden;
    display: flex;
    align-items: center;
   height: 600px;
  }

  


  /* home */
  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }


  #home .image {
    order: 1;
  }

  #home .text {
   display: flex;
   flex-direction: column;
   align-items: center;

 
  }

  /* about */
  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
  }

  /* services */
  .cards {
    display: flex;
    justify-content:center;
    align-items: center;
   width: 342px;
  }

  .card {
  background-color: #936e4b;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* testimonials */
  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  /* contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  /* footer */
  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}

/*========= MEDIA QUERIES =========*/
/* extra large devices: 1200 > */


/* large devices: 1023 > */
/* large devices: 992 > */
@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
}
